img{
    width: 100%;
    max-width: 100px;
    height:100% ;
}
 #reverseImg {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
.divOfPeginator{
      display: flex;
      justify-content: space-around;
      width: 100%;
}
 .divOfImgOfPeginator{
    display: inline-block;
} 
